.overlay {
  background: rgba(242, 243, 245, 0.8);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.container {
  background: var(--white);
  width: 100%;
  max-width: 400px;
  padding: 2rem 3rem;
  border-radius: 5px;
  box-shadow: 0 0 60px rgba(0, 0, 0, 0.05);
  text-align: center;
  position: relative;
}

.container header {
  font: 700 9rem/100% "Inter", sans-serif;
  color: var(--blue01);
  background: url("../../assets//level-up-back.svg") no-repeat center;
  background-size: contain;
  margin-bottom: 1rem;
}

.container strong {
  font: var(--title);
  color: var(--titles);
  display: block;
  margin-top: 0.25rem;
}

.container p {
  font: 400 1.25rem/1.875rem "Inter", sans-serif;
  color: var(--text);
  margin-top: 0.5rem;
}

.closeButton {
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
  background: transparent;
  border: 0;
  font-size: 0px;
  cursor: pointer;
}

.footer {
  margin-top: 2rem;
}

.xButton {
  width: 100%;
  height: 3.5rem;

  font: 600 1rem/100% "Inter", sans-serif;
  color: var(--white);

  background-color: black;
  border: none;
  border-radius: 5px;
  
  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;

  img {
    width: 2rem;
    height: 2rem;
  }
}