.button-container {
  display: flex;
  justify-content: center;
  align-items: center;

  border: none;
  border-radius: 1rem;
}

/* SE FOR BOTÃO DE COMEÇAR, APLICA ESTILIZAÇÃO */
.button-container:has(.start-btn){
  background-color: var(--blue01);

  span {
    font: var(--btn-text);
    color: var(--white);
  }
}

/* SE FOR BOTÃO DE CANCELAR, APLICA ESTILIZAÇÃO */
.button-container:has(.cancel-btn){
  background-color: var(--red);

  span {
    font: var(--btn-text);
    color: var(--white);
  }

  svg {
    width: 14px;
  }
}

/* AJUSTANDO ESTILIZAÇÃO DO BUTTON */
.button-container button {
  background: transparent;
  border: none;
  width: 100%;
  height: 100%;

  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

  padding: 1.5rem 0;
  
}