.button-container {
  display: flex;
  justify-content: center;
  align-items: center;

  border: none;
  border-radius: 1rem;
}

.button-container:has(.start-btn){
  background-color: var(--blue01);

  span {
    font: var(--btn-text);
    color: var(--white);
  }
}

.button-container:has(.start-btn):hover{
  background-color: var(--blue02);
}

.button-container:has(.cancel-btn){
  background-color: var(--white);

  span {
    font: var(--btn-text);
    color: var(--text);
  }

  svg {
    width: 14px;
  }
}

.button-container:has(.cancel-btn):hover{
  background-color: var(--red);

  span {
    color: var(--white);
  }
  
  svg path {
    fill: var(--white);
  }
}

.button-container:has(.finished-btn){
  background-color: var(--white);

  box-shadow: inset 0 -5px 0 0 #4cd964;

  button {
    cursor: auto;
  }

  span {
    font: var(--btn-text);
    color: var(--text);
  }

  svg {
    width: 14px;
  }
}

.button-container button {
  background: transparent;
  border: none;
  width: 100%;
  height: 100%;

  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

  padding: 1.5rem 0;
}