:root {
  --blue01: #5965E0;
  --blue02: #4953B8;
  --green : #4CD62B;
  --red   : #E83F5B;
  --titles: #2E384D;
  --text  : #666666;
  --line  : #DCDDE0;
  --backgr: #F2F3F5;
  --white : #FFFFFF;

  --timer: 600 7.5rem/6.25rem "Rajdhani", sans-serif;
  --title: 600 1.875rem/2.5rem "Inter", sans-serif;
  --fixed-xp: 400 0.875rem/100% "Inter", sans-serif;
  --movable-xp: 500 0.875rem/100% "Inter", sans-serif;
  --complete-challenge: 500 1.125rem/1.5rem "Inter", sans-serif;
  --sub-title: 500 1.5rem/2.125rem "Inter", sans-serif;
  --explain-text: 400 1rem/1.625rem "Inter", sans-serif;
  --reward-xp: 600 1.250rem/1.875rem "Inter", sans-serif;
  --username: 600 1.5rem/100% "Inter", sans-serif;
  --level: 400 1rem/100% "Inter", sans-serif;
  --challenges: 500 1.125rem/1.5rem "Inter", sans-serif;
  --btn-text: 600 1.125rem/100% "Inter", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--backgr);
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 2rem auto 0;
  width: 70%;

  gap: 4rem;
  
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;

  width: 100%;

  gap: 6rem;
}

.client-section {
  display: flex;
  flex-direction: column;
}