/* GERAL */
.progress-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  gap: 1rem;

  width: 70%;
}

/* BARRA DE PROGRESSO */
.back-bar {
  background-color: var(--line);
  flex: 1;
  height: 4px;

  border-radius: 3px;
}

.fill-bar {
  background-color: var(--green);
  width: 0;
  height: 4px;

  justify-content: flex-start;

  border-radius: 3px;
}

/* XP FIXO */
.fixed-xp {
  font: var(--fixed-xp);
  color: var(--text);

}