/* GLOBAL */
.card-container {
  background-color: var(--white);
  border-radius: 0.5rem;

  display: flex;
  flex-direction: column;

  justify-content: center;
}

.card-container:has(.card-exercise){
  justify-content: flex-start;
}

.text-content {
  font: var(--sub-title);
  color: var(--text);
  
  width: 70%;
  text-align: center;

  margin: auto;

  display: flex;
  flex-direction: column;

  gap: 4rem;
}

.message-text {
  font: var(--explain-text);
  color: var(--text);
}

.card-exercise {
  display: flex;
  flex-direction: column;

  width: 70%;

  margin: 2rem auto;

  text-align: center;

  > span {
    font: var(--reward-xp);
    color: var(--blue01);
  }
}

.divisor-line {
  background-color: #F0F1F3;
  height: 1px;

  margin: 1rem 0 2rem;
}

.card-text {
  display: flex;
  flex-direction: column;

  align-items: center;

  margin-bottom: 2rem;

  img {
    width: 140px;
    height: 112px;
  }

  span {
    font: var(--title);
    color: var(--titles);
  }

  p {
    font: var(--explain-text);
    color: var(--text);
  }
}

.answer-button {
  justify-self: normal;
  
  display: flex;
  justify-content: space-between;

  gap: 0.5rem;
}

.btn-box {
  border: none;
  border-radius: 0.5rem;

  flex: 1;

  padding: 1rem;

  cursor: pointer;

  font: var(--btn-text);
  font-size: 0.7rem;
  text-transform: uppercase;
  color: var(--white);
}

.sucess-btn {
  background-color: var(--green);
}

.falid-btn {
  background-color: var(--red);
}