.input-name {
  width: 100%;
  
  padding: 0.5rem;

  margin: 1rem 0;

  border: solid 3px var(--blue02);
  border-radius: 1rem;

  text-align: center;

  font: var(--explain-text);
  color: var(--titles);
}

.submit-button {
  width: 100%;
  height: 3.5rem;

  font: 600 1rem/100% "Inter", sans-serif;
  color: var(--white);

  background-color: var(--blue02);
  border: none;
  border-radius: 0.5rem;
  
  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;

}